@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.menu__icon {
  display: none;
}
@media (max-width: 768px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
  }
}

@media (max-width: 768px) {
  .menu__icon::after,
  .menu__icon::before, .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::after,
  .menu__icon::before {
    content: "";
  }
  .menu__icon::after {
    top: 0;
  }
  .menu__icon::before {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0, -50%);
  }
  .menu__icon._active::before {
    bottom: 50%;
    transform: rotate(-45deg) translate(0px, 50%);
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
}
body._lock {
  overflow: hidden;
}

.header__main {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .header__body {
    padding-top: 15px;
  }
}

.header__list {
  display: flex;
  align-items: center;
}

.header__links:last-child {
  margin-right: 0;
}

.header__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #FFFFFF;
  margin-right: 50px;
}
@media (max-width: 1100px) {
  .header__link {
    margin-right: 35px;
  }
}

.header__btn {
  padding: 9px 15px;
  height: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #FFFFFF;
  background-color: #018ABE;
}

@media (max-width: 768px) {
  .header__links {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__logo img {
    height: 36px;
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.footer__social {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  text-align: right;
  color: #FFFFFF;
}

.prava {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #FFFFFF;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.title {
  font-family: "El Messiri", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin: 140px 0 100px 0;
}
@media (max-width: 768px) {
  .title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
  }
}

.btn {
  transition: 0.2s;
}

.btn:hover {
  opacity: 0.8;
}

.--link-a {
  color: inherit;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: center;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
.slick-slide.slick-center {
  transition: 0.5s;
}

/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 400px) {
  .slick-dots {
    margin-top: 15px;
  }
}

.slick-dots li {
  margin-right: 20px;
  opacity: 0.4;
  transition: 0.2s;
}

.slick-dots li:last-child {
  margin-right: 0px;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #FFFFFF;
}

/* Активная точка */
.slick-dots li.slick-active {
  opacity: 1;
}

.contener {
  max-width: 1330px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  min-width: 320px;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold");
  font-weight: 600;
  font-style: normal;
}
body {
  background-color: #162831;
}

.wraper {
  font-family: "Gloock", serif;
}

.main__block-main {
  display: flex;
  flex-direction: column;
}

.main__img {
  display: flex;
  padding-bottom: 16%;
}
.main__text {
  z-index: 2;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .main__text {
    margin-top: 70px;
  }
}
.main__title {
  font-family: "El Messiri", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
  padding: 0 15px;
}
@media (max-width: 600px) {
  .main__title {
    margin-top: 0px;
  }
}
@media (max-width: 600px) {
  .main__title {
    font-size: 22px;
  }
}
@media (max-width: 450px) {
  .main__title {
    margin-bottom: 20px;
  }
}
.main__subtitle {
  max-width: 500px;
  font-family: "El Messiri", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .main__subtitle {
    font-size: 54px;
  }
}
@media (max-width: 450px) {
  .main__subtitle {
    font-size: 44px;
  }
}
@media (max-width: 400px) {
  .main__subtitle {
    font-size: 40px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title > span {
  margin: 0 66px;
}
@media (max-width: 600px) {
  .title > span {
    margin: 0 33px;
  }
}

.--second_svg {
  transform: scale(1, -1);
}

.seansi__main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .seansi__main {
    flex-wrap: wrap;
  }
}
.seansi__item {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 47%;
  margin-bottom: 24px;
}
.seansi__item_b {
  height: 100%;
}

.item__column {
  border-radius: 10px;
  position: relative;
  margin-right: 24px;
  width: 33.333%;
  height: 516px;
}
@media (max-width: 900px) {
  .item__column {
    width: 48%;
  }
}
@media (max-width: 450px) {
  .item__column {
    width: 100%;
    margin-right: 0;
    height: 324px;
  }
  .item__column:last-child {
    margin-top: 26px;
  }
}
.item__column_b {
  height: 540px;
}
@media (max-width: 900px) {
  .item__column_b {
    width: 100%;
    height: 300px;
    margin-bottom: 26px;
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  .item__column_b {
    height: 150px;
  }
}
.item__column:last-child {
  margin-right: 0;
}
.item__text {
  position: absolute;
  font-family: "El Messiri", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

.item__text {
  bottom: 30px;
  left: 40px;
}
@media (max-width: 700px) {
  .item__text {
    left: 20px;
  }
}

.seansi__item_b > div {
  bottom: 43px;
  left: 50px;
}
@media (max-width: 700px) {
  .seansi__item_b > div {
    left: 20px;
  }
}
@media (max-width: 450px) {
  .seansi__item_b > div {
    bottom: 30px;
  }
}

.seansi__item {
  transition: all 0.2s;
}

.seansi__item > img {
  border-radius: 10px;
}

.seansi__item:hover {
  border-bottom: 7px solid #018ABE;
  border-radius: 0px 0px 10px 10px;
}

.seansi__item:hover > img {
  border-radius: 10px 10px 0px 0px;
}

.item__body {
  height: 276px;
  width: 500px;
  background: #018ABE;
  border-radius: 10px;
  margin: 0 auto;
  overflow: auto;
}

.slider {
  min-width: 0;
}
.slider__item {
  margin: 0 30px;
  opacity: 0.4;
}
@media (max-width: 768px) {
  .slider__item {
    width: 100vw;
    max-width: none;
    max-height: none;
    min-width: 0;
    min-height: 0;
  }
}
.slider__item_title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  padding: 40px 45px 0 45px;
  margin-bottom: 20px;
}
.slider__item_text {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 140%;
  color: #FFFFFF;
  padding: 0 45px 0 45px;
}

.item_chap {
  margin-bottom: 25px;
}

.item_chap:last-child {
  margin-bottom: 0;
}

.slider-contener {
  max-width: 1736px;
  margin: 0 auto;
}

.slick-slide.slick-center .item__body {
  width: 636px;
  min-height: 350px;
  max-width: 100vw;
}
@media (max-width: 400px) {
  .slick-slide.slick-center .item__body {
    height: 300px;
    min-height: 0;
  }
}

.slick-slide.slick-center {
  opacity: 1;
  max-width: 636px;
  max-height: 350px;
  min-height: 350px;
  min-width: 636px;
}

.slick-slide.slick-center .item__body .slider__item_title {
  font-size: 20px;
}

.slick-slide.slick-center .item__body .slider__item_text {
  font-size: 14px;
}

.about__column {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}
.about__column:last-child {
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .about__column {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.about__item {
  width: 50%;
}
@media (max-width: 768px) {
  .about__item {
    width: 100%;
  }
}
.about__item_title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.about__item_maintext {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  padding-right: 84px;
}
@media (max-width: 768px) {
  .about__item_maintext {
    padding-right: 0;
  }
}

.about__item_img img {
  border-radius: 10px;
}

.--last {
  margin-right: 0;
  margin-left: 84px;
  padding-right: 0;
}
@media (max-width: 768px) {
  .--last {
    margin-left: 0;
  }
}

.--last p {
  margin-bottom: 15px;
}

.--last p:last-child {
  margin-bottom: 0px;
}

.about__item_img {
  min-height: 365px;
}
@media (max-width: 768px) {
  .about__item_img {
    min-height: 250px;
    padding-bottom: 48%;
  }
}

.about__item-text {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .--order1 {
    order: 2;
  }
  .--order2 {
    order: 1;
  }
}
.sell__main {
  padding-bottom: 150px;
  display: flex;
}
@media (max-width: 768px) {
  .sell__main {
    flex-direction: column;
    padding-bottom: 60px;
  }
}
.sell__column {
  width: 50%;
}
@media (max-width: 768px) {
  .sell__column {
    width: 100%;
  }
}
.sell__stolb {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 35px;
}
@media (max-width: 768px) {
  .sell__stolb {
    padding: 0 0px 50px 0;
  }
}
.sell__text {
  width: 268px;
}
.sell__number {
  display: flex;
  margin-left: 23px;
  width: 90px;
  justify-content: flex-end;
}
.sell__item_img {
  height: 93%;
}
@media (max-width: 768px) {
  .sell__item_img {
    min-height: 250px;
    padding-bottom: 40%;
  }
}
.sell__item_subtitle {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 50px;
  font-family: "El Messiri", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  color: #FFFFFF;
}

.sells {
  display: flex;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  padding-left: 20px;
  margin-bottom: 31px;
}

.sells {
  list-style: none;
  /* Убираем исходные маркеры */
  background: url("../img/01.svg") no-repeat 0px 8px;
  /* Параметры фона */
  padding-left: 40px;
  /* Смещаем текст вправо */
}

.sells:last-child {
  margin-bottom: 0;
}

.ibg > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 10px;
}

.position__body {
  display: flex;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .position__body {
    flex-direction: column;
    padding-bottom: 45px;
  }
}
.position__map {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .position__map {
    padding-bottom: 40%;
    min-height: 250px;
    margin-top: 50px;
  }
}
.position__item {
  background: #018ABE;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 24px;
}
.position__item:last-child {
  margin-bottom: 0;
}
.position__title {
  font-family: "El Messiri", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
  margin-left: 45px;
  padding-top: 35px;
}
@media (max-width: 325px) {
  .position__title {
    font-size: 23px;
  }
}
.position__row {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #FFFFFF;
  margin-left: 45px;
  margin-bottom: 22px;
}
.position__row:last-child {
  margin-bottom: 0;
}
.position__row:first-child {
  margin-top: 22px;
}

.position__column {
  width: 33.333%;
}
@media (max-width: 786px) {
  .position__column {
    width: 100%;
  }
}

.positin__column {
  width: 33.333%;
}
.positin__column_b {
  width: 66.666%;
  padding-right: 48px;
}
@media (max-width: 768px) {
  .positin__column_b {
    order: 2;
    padding-right: 0;
    width: 100%;
  }
}

.btn {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  color: #018ABE;
  padding: 9px 15px;
  border-radius: 3px;
}

.button {
  padding-bottom: 35px;
  padding-left: 45px;
  margin-top: 30px;
}

.position__row img {
  margin-right: 23px;
}

@media (max-width: 768px) {
  .position__title, .position__row {
    margin-left: 22px;
  }
  .button {
    padding-left: 22px;
  }
}
.header__btn {
  color: #FFFFFF;
}

.header__btn:hover {
  color: #018ABE;
  background-color: #FFFFFF;
}